<nav class="navbar">
  <!-- Logo -->
  <div class="logo">
    <img src="assets/logo.png" alt="Logo">
  </div>

  <!-- Menú de escritorio -->
  <ul class="nav-links">
    <li><a routerLink="/inicio/asesor">Asesor</a></li>
    <li><a routerLink="/recursos">Recursos educativos</a></li>
    <li><a routerLink="/propuesta">Propuesta</a></li>
    <li routerLink=""><i class="bi bi-box-arrow-right"></i></li>

  </ul>

  <!-- Botón móvil -->
  <button class="menu-btn" (click)="toggleMenu()">
    ☰
  </button>

  <!-- Menú móvil -->
  <div *ngIf="menuAbierto"
       class="mobile-menu">
    <ul>
      <li><a routerLink="/inicio/asesor" (click)="toggleMenu()">Asesor</a></li>
      <li><a routerLink="/recursos" (click)="toggleMenu()">Recursos educativos</a></li>
      <li><a routerLink="/propuesta" (click)="toggleMenu()">Propuesta</a></li>
      <li><i class="bi bi-box-arrow-right"></i></li>
    </ul>
  </div>
</nav>
