
<div class="container my-3">
  <footer
    class="text-center text-lg-start text-white"
    style="background-color: white"
  >
    <div class="container p-4 pb-0">
      <section class="">
        <div class="row">
          <div class="col-md-3 col-lg-3 col-xl-4 mx-auto mt-3">
            <div class="logo">
              <img src="assets/logo.png" alt="Logo" width="120px">
            </div>
            <p class="text-primary">Tu compañero en el camino hacia una vida financiera más organizada y segura</p>
          </div>
          <div class="col-md-1 col-lg-1 col-xl-2 mx-auto mt-1">

          </div>
          <hr class="w-100 clearfix d-md-none" />
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-2">
            <h6 class="text-primary mb-4 font-weight-bold">Enlaces ràpidos</h6>
            <p>
              <a class="text-primary ">Consultar perfil</a>
            </p>
            <p>
              <a class="text-primary">Tipos de inversiones</a>
            </p>
            <p>
              <a class="text-primary">Recomendaciones</a>
            </p>
            <p>
              <a class="text-primary">Educaciòn"</a>
          </div>
          <hr class="w-100 clearfix d-md-none" />
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-2">
            <h6 class="text-primary mb-4 font-weight-bold">
              Asistencia
            </h6>
            <p>
              <a class="text-primary">Chat financiero</a>
            </p>
            <p>
              <a class="text-primary">Preguntas frecuentes</a>
            </p>
            <p>
              <a class="text-primary">Contacto </a>
            </p>
            <p>
              <a class="text-primary">Soporte tècnico</a>
            </p>
          </div>
          <hr class="w-100 clearfix d-md-none" />

          <div class="col-md-2 col-lg-3 col-xl-2 mx-auto mt-3">
            <h6 class="text-primary mb-4 font-weight-bold">Redes</h6>
            <section class="p-3 pt-0">
              <div class="row d-flex align-items-center">
                <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                  <ul class="list-unstyled d-flex flex-row justify-content-center">
                    <li>
                      <a class="text-primary px-2" href="#!">
                        <i class="fab fa-facebook-square"></i>
                      </a>
                    </li>
                    <li>
                      <a class="text-primary px-2" href="#!">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>
                    <li>
                      <a class="text-primary ps-2" href="#!">
                        <i class="fab fa-youtube"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
    </div>
    <div
      class="text-center p-3 text-primary">
      © 2025 FinanzasPa`Ti Colombia. Todos los derechos reservados.
    </div>
  </footer>
</div>
